body{
    font-family: 'Oswald', sans-serif;
}

i{
    font-size: 3rem;
}
li{
    list-style-type: none;
    margin-bottom: 0;
    
}
a{
    text-decoration: none;
    color: #000;
}
a:hover{
    text-decoration: none;
    color: #E31B23 ;
}


search-input:focus{
    border: #E31B23 solid 1px;
}
/* large-device */

.red-row{
    height: 10vh;
    width: 100%;
    background-color: #E31B23;
    z-index: 2;
}

.row-nav{
    height: 10vh;
    width: 100%;
    align-items: center;
    border-bottom: rgba(0, 0, 0, 0.247) solid 1px;
    background-color: white;
    position: sticky;
    top: 0;

}

.logo{
    height: 35px;
    width: 40px;
}

.nav-links{
    margin-left: 5%;
}

.tp:hover{
    
}

.search-icn{
    margin-left: 40%;
    margin-top: 0.5%;
}

.cart-icn{
    margin-left: 1%;
    margin-top: 0.3%;
}

.search-bar{
    height: 10vh;
    width: 100%;
    top:-10%;
    background-color:white;
    z-index: 1;
    border-bottom: rgba(0, 0, 0, 0.247) solid 1px;
    transition: all .2s ease-out;
}
.search-form{
    justify-content: center;
    margin-top: 1%;
}

.btn-search{
    background-color: #E31B23;
    color: white;
    margin-left: 1%;
}
.search-input{
    width: 60%;
    border: rgba(0, 0, 0, 0.164) solid .5px;
    border-radius: .25rem;
}






/* medium-device */


@media(max-width:1180px){
    .search-icn{
        margin-left: 20%;
    }

}





/* tablet-device */

@media(max-width:850px){
    .row-nav li{
        display: none;
    }
    .search-icn{
        margin-left: 65%;
    }
    .search-form{
        margin-top: 2%;
    }
}




/* mobile-device */

@media(max-width:550px){
    .row-nav li{
        display: none;
    }
    .search-icn{
        margin-left: 40%;
    }
    .logo{
        height: 25px;
        width: 30px;
    }

    .search-form{
        margin-top: 3%;
    }

}


/* mobile-device less than 6inch */

@media(max-width:320px){
    .row-nav li{
        display: none;
    }
    .search-icn{
        margin-left: 30%;
    }
    .logo{
        height: 25px;
        width: 30px;
    }
    .search-form{
        margin-top: 5%;
    }
}